*{
    padding: 0;
    margin: 0;
}
body {
    max-width: 1280px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: 5%;
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vmax;
}

.left{
    margin: 10% 5%;
}
.check{
    margin-top: 3%;
}
.check div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2vmax;
}
.right-top, .right-bottom{
    display: grid;
    gap: 2%;
    background-color: #FAFAF9;
    border-radius: 5px;
}
.right-top{
    margin-left: 40%;
}
.right-bottom{
    margin-right: 40%;
}
.right-top-img, .right-bottom-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    align-items: center;
}
.google, .star, .meta{
    width: 100%;
    height: 60%;
    padding: 7% 15%;
    /* background-color: red; */
}
.google img, .meta img{
    width: 100%;
    height: 100%;
}
.star img{
    padding-top: 10%;
}
.right-top-text, .right-bottom-text{
    padding: 0 6%;
    font-family: Georgia, serif;
}
p{
    color: #52525A;
    font-size: 0.8em;
}
.left h1{
    margin-top: 2%;
    margin-bottom: 3%;
}
.right-bottom-text *, .right-top-text *{
    margin-bottom: 3%;
}

/* responsive */
@media screen and (max-width: 640px) {
    .container{
        grid-template-columns: 1fr;
    }
}